---
import GitHub from "../components/icons/GitHub.astro";
import Firebase from "../components/icons/Firebase.astro";
import Android from "../components/icons/Android.astro";
import Kotlin from "../components/icons/Kotlin.astro";
import Compose from "./icons/compose.astro";

const TAGS = {
    FIRE: { name: "Firebase", class: "bg-stone-700 text-white", icon: Firebase },
    ANDROID: { name: "Android", class: "bg-green-400 text-white", icon: Android },
    KOTLIN: { name: "Kotlin", class: "bg-violet-950 text-white", icon: Kotlin },
    COMPOSE: { name: "Compose", class: "bg-gray-900 text-white", icon: Compose },
};

const PROJECTS = [
    {
        title: "Muebles el puente TFG",
        description:
            "Proyecto de trabajo de fin de grado, donde creo mi propia API con FastApi la web con Astro y la app con Kotlin, para una empresa de muebles.",
        github: "https://github.com/alesguga/MueblesElPuenteAppTFG",
        link: "https://muebles-el-puente-web-tfg.vercel.app/",
        image: "https://www.muebleselpuente.com/gallery/dor-cont12_22174ob8.jpg",
        tags: [TAGS.FIRE, TAGS.COMPOSE, TAGS.KOTLIN],
    },
    {
        title: "Chistes Retrofit",
        description:
            "Aplicaci贸n en Android Studio en Kotlin que accede a una API mediante Retrofit. Incluye login, buscador, y permite introducir nuevos chistes.",
        github: "https://github.com/alesguga/ChistesRetrofit",
        image:
            "https://piks.eldesmarque.com/bin/2023/06/07/230606_dep_betis_homenaje_joaquin_zona_mixtamovmxf_frame_10538.jpeg",
        tags: [TAGS.KOTLIN, TAGS.ANDROID],
    },
    {
        title: "Caravan Retrofit",
        description:
            "Aplicaci贸n Android en Kotlin para gestionar caravanas, con login, buscador, y la opci贸n de valorar sitios donde dormir.",
        github: "https://github.com/alesguga/CaravanRetrofit",
        image:
            "https://cdn.topgear.es/sites/navi.axelspringer.es/public/media/image/2022/06/fleetwood-bounder-1986-2729789.jpg",
        tags: [TAGS.KOTLIN, TAGS.ANDROID],
    },
].filter((project) => project.tags.some((tag) => tag === TAGS.KOTLIN));
---

<div class="p-6 sm:p-12">
    <h1 class="text-4xl font-extrabold text-gray-900 dark:text-white mb-12 text-center relative">
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-cyan-500">Proyectos</span>
    </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {PROJECTS.map(({ image, title, description, tags, github, link }) => (
                <div class="bg-white dark:bg-gray-800 transition p-4 rounded-lg shadow-md">
                    <img
                            src={image}
                            alt={title}
                            class="w-full h-44 object-cover rounded-md mb-4"
                    />
                    <h3 class="text-xl font-semibold mb-2 text-gray-800 dark:text-gray-100">
                        {title}
                    </h3>
                    <p class="text-sm text-gray-600 dark:text-gray-400 mb-4">
                        {description}
                    </p>
                    <div class="flex flex-wrap gap-2 mb-4">
                        {tags.map((tag) => (
                                <span
                                        class={`flex items-center gap-1 px-3 py-1 rounded-full text-xs font-semibold ${tag.class}`}
                                >
              <tag.icon class="w-4 h-4" />
                                    {tag.name}
            </span>
                        ))}
                    </div>
                    <div class="flex gap-2">
                        {github && (
                                <a
                                        href={github}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="px-3 py-2 bg-blue-500 hover:bg-blue-600 text-white text-sm rounded-md flex items-center"
                                >
                                    <GitHub class="w-4 h-4 mr-2" />
                                    C贸digo
                                </a>
                        )}
                        {link && (
                                <a
                                        href={link}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                        class="px-3 py-2 bg-green-500 hover:bg-green-600 text-white text-sm rounded-md flex items-center"
                                >
                                    <span>Enlace</span>
                                </a>
                        )}
                    </div>
                </div>
        ))}
    </div>
</div>